<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Proxy service {% endblock %} </title>
</head>
<body>
<ul>
    {% block content %} No content {% endblock %}
</ul>
</body>
</html>